@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --color-empty-shade: 	#FDFDFD;
  --color-light-shade: #eaeaea;
  --color-lighter-shade: #edebe6;
  --color-dark-shade: #6f6f66;
  --color-darker-shade: #ecf3d3;
  --color-text: #2d2d26;
  --color-accent: #FDEAEC;
  --color-constructive: #109d46;
  --color-destructive: #d94b03;
}

.background {
  min-width: 300px;
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}

.order-btn {
  margin-top: 20px;
  color: lightgray;
  background-color: black;
  border-radius: 35px;
  padding: 15px;
  border: none;
  box-shadow: 0px 0px 45px 0px rgba(150,150,150,0.5);
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

.order-btn:hover {
  color: black;
  background-color: lightgray;
  transition: 0.5s;
}

.page_image {
  height: 100%;
  background-position: left;
}

.checkout-page {
  width: 100%;
  /* height: 100vh; */
  background-color: var(--color-accent);
  display: flex;
  flex-direction: column;
}

.store-items{
  min-width: 300px;
  width: 50%;
  flex: 1; /* ensure div will take up remaining vertical space*/
  margin: 0 auto 0 auto;
  padding-top: 8rem;
}

.submitOrder-btn {
  width: 300px;
  color: lightgray;
  background-color: black;
  border-radius: 35px;
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 30px auto;
  border: none;
  box-shadow: 0px 0px 45px 0px rgba(150,150,150,0.5);
  cursor: pointer;
}

.submitOrder-btn:hover {
  color: black;
  background-color: lightgray;
  transition: 0.5s;
}

.submit-ctn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.customer_form {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Bebas Neue', sans-serif;
  margin: 10px 0;
  cursor: pointer;
}

.stack-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order-confirmation {
  display: flex;
  align-items: center;
  background-color: var(--color-accent);
  height: 100vh;
  justify-content: center;
}

@media only screen and (max-width: 600px) {

  .store-items {
    width: 80%;
  }

  .submitOrder-btn {
    width: 200px;
    font-size: 15px;
    padding: 15px;
  }
  
  .confirmation-ctn{
    font-size: 1.5em;
  }
}