@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --color-empty-shade: 	#FDFDFD;
  --color-light-shade: #eaeaea;
  --color-lighter-shade: #edebe6;
  --color-dark-shade: #6f6f66;
  --color-darker-shade: #ecf3d3;
  --color-text: #2d2d26;
  --color-accent: #FDEAEC;
  --color-constructive: #109d46;
  --color-destructive: #d94b03;
}


.transactionPane {
  width: 100%;
  margin: 2px 0;
}

.pane-img {
  width: auto;
  height: 120px;
  margin: 10px 20px;
  border: 1px solid var(--color-light-shade);
}

.transactionPane {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: fit-content;
  border: 1px solid lightgray;
  align-items: center;
  position: relative;
  background-color: var(--color-empty-shade);
  font-family: 'Bebas Neue', sans-serif;
}
.content-ctn {
  margin: 0 15px;
}
.pane-content {
  font-weight: bold;
  letter-spacing: 1px;
  width: fit-content;
}

.pane-content p:first-child{
  margin: 5px 0;
}

.pane-content p:nth-child(2) {
  font-weight: lighter;
  font-family: sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.pane-price {
  font-family: sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
}

.pane-counter {
  height: 25px;
  margin: 5px 0px;
}

.pane-counter input {
  text-align:center;
  width: 40px;
  height: -webkit-fill-available;
  border-style: solid;
  border-width: medium;
  border-color: black;
}

.pane-counter button {
  width: 30px;
  height: 100%;
  color: lightgray;
  background-color: black;
  border: none;
  box-shadow: 0px 0px 45px 0px rgba(150,150,150,0.5);
  font-family: sans-serif;
  font-weight: bold;
  padding: 5px;
}

.pane-counter button:first-child{
  border-radius: 4px 0 0 4px;
}
.pane-counter button:last-child{
  border-radius: 0 4px 4px 0;
}

.counter button:hover {
  color: black;
  background-color: lightgray;
  transition: 0.5s;
}

.paypal-ctn {
  width: 300px;
}

@media only screen and (max-width: 600px) {
  .pane-img {
    margin: 0px 10px;
    height: 90px;
  }

  .pane-content {
    margin: 20px 15px;
  }
  .pane-content p:nth-child(2) {
    font-family: sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
  }

  .pane-content p:nth-child(3) {
    display: none;
  }

  .counter {
    flex-direction: column;
    margin: 2px;
  }

  .counter input {
    display: block;
    width: 25px;
    height: 20px;
  }
}

@media only screen and (max-width: 1200px) {
  .counter {
    flex-direction: column;
    margin: 10px;
  }

  .counter input {
    display: block;
    width: 25px;
    height: 20px;
  }
}