.receipt_ctn {
  background-color: var(--color-empty-shade);
  border: lightgray;
  padding:20px;
  margin-bottom: 20px;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: lighter;
}

.receipt_ctn p:first-child {
  text-align: center;
  font-family: inherit;
}

.receipt_items {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.confirmation-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
  font-size: 2rem;
  font-family: 'Bebas Neue', sans-serif;
  padding: 20px;
}
