.carousel-item {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); 
  height: 220px;
  width: 220px;
  background-color: blue;
  border-radius: 50%;
}
.carousel-item-active {
  transform: translate(-50%, -50%) scale(1.5); 
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 220px;
  width: 220px;
  background-color: blue;
  border-radius: 50%;
}